html,body {
        margin: 0;
        padding:0;

}

.Page {
    background: linear-gradient(to bottom, #2a2a2a, #141414);
}

    
body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #2a2a2a, #141414);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.nav-bar {

    display: flex;
    align-items: center;
    justify-content: left;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgb(56, 56, 56);
    width: 100%;
    height: 40px;

    z-index: 100;
}

.brand-name {
    color: #c6c6c6;
    font-weight:bold;
}

.brand-name:hover {
    text-shadow: 1px 1px 10px  white;
    text-decoration: underline;
}

.Intro{
    margin-bottom: 100px;
    font-weight: bold;

    margin-top: 20px;
    text-shadow: 2px 1px 20px  white;
}


.Vr-Image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    z-index: 10;
}

.Cards{
    display: flex;
    justify-content: center;

    gap: 250px;

}

.Title-Card{
    background-color: #2a2a2a;
    padding: 25px;

    width: 350px;
    height: 150px;

    border-radius: 10px;

    box-shadow: 10px 10px 30px 5px black;

}

.Title-Card--left{
    z-index: 1;
    position: relative;

    margin-top: -100px;
}

.Title-Card--right{

    z-index: 1;
    position: relative;

    margin-top: -170px;
}

.Pop-Text{
    font-size: larger;
    font-weight: bolder;
}

.More-Info{
    margin-top: 300px;

    text-shadow: 2px 1px 20px black;
    font-weight: bold;
}

.Column-Container{
    display: flex;
    justify-content: center;

    gap: 40px;
}

.About-Column{
    background-color: #2a2a2a;
    padding: 25px;

    width: 350px;
    height: 150px;

    border-radius: 10px;
}

.About-Column:hover{
    transform: scale(1.04);
}

.about-text{

    background-color: #141414;
    text-shadow: 2px 1px 20px  rgb(118, 118, 118);
    padding: 30px;

    margin-top: 1px;
    margin-top:200px;


    font-size: xx-large;
    font-weight:bold;
}